@media (max-width:600px){
    body{
        padding:10px;
    }
    #calendar{
        width:100%;
        max-width:100%;
        height:auto;
        /*margin:20px auto;*/
        padding:10px;
        /*margin-top:20px;
        border-radius:10px;*/
    }
    .fc{
        font-size:12px;
    }
    .fc-toolbar{
        flex-direction:column;
        gap:10px;
    }
    .fc-daygrid-day{
        height:60px !important;
    }
    .nav-right a{
        font-size:14px;
        margin:0 4px;
    }
    .container{
        width:100%;
        padding:10px;
        
    }

}
body{
    font-family:Arial,sans-serif;
    background:#f4f6f8;
    margin:0;
    padding:20px;
    background:linear-gradient(135deg,#f5f7fa,#e4ecf7)
}
h2{
    text-align:center;
    margin-bottom:20px;
    color:#333;
}

.navbar{
    position:sticky;
    top:0;
    z-index:1000;
}
.nav-right{
    display:flex;
    align-items:center;

    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
}
/*ナブバーのリンクのCSS*/
.nav-right a{
    white-space:nowrap;

    color:rgb(77, 66, 66);
    text-decoration:none;
    margin:0 8px;
    font-weight:bold;
}
.nav-right a:hover{
    color:#4CAF50;
}
.divider{
    color:#aaa;
}
.badge{
    background:red;
    color:white;
    border-radius:50%;
    padding:2px 6px;
    font-size:12px;
    margin-left:5px;

    animation:pulse 1.5s infinite;
}
@keyframes pulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.15);
    }
    100%{
        transform:scale(1);
    }
}

/*ホーム画面*/
.div_home{
    margin-top:350px;
    display:flex;/*flexモード ON*/
    flex-direction:column;/*縦並び*/
    align-items:center;  /*display:flex;が必要なコード （横中央揃え）*/
    justify-content:center; /*（縦中央揃え）*/
    height:100vh;
    gap:15px;

    animation:fadeIn 0.5s ease;
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(10px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.fc{
    width:100% !important;
}
.fc-view-harness{
    height:auto !important;
}
#calendar{
    width:80%;
    max-width:1000px;
    height:750px;
    margin:30px auto;
    padding:20px;
    margin-top:20px;
    border-radius:12px;
    background:white;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}
.fc-day-today{
    background:#fff3cd !important;
}
.fc-event{
    transition:0.2s
}
.fc-event:hover{
    opacity:0.8;
    transform:scale(1.03);
}
.schedule{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
}
.schedule-item{
    padding:10px;
    border-bottom:1px solid #ddd;
}
.user{
    margin-left:20px;
    color:#1d0606;
}
.logout{
    margin-left:10px;
    color:#ff6b6b;
}

/*ログイン,イベント一覧*/
.container{
    max-width:700px;
    margin:0 auto;
    padding:20px;
}
/*イベント一覧*/
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}
.card{
    background:white;
    padding:20px;
    line-height:1.6;
    margin:10px 0;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);

    opacity:0;
    transform:translateY(20px);
    animation:fadeUp 0.5s ease forwards;
    transition:0.3s;
}
/*順番に出す*/
.card:nth-child(1){animation-delay:0.1s;}
.card:nth-child(2){animation-delay:0.2s;}
.card:nth-child(3){animation-delay:0.3s;}

@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.actions{
    margin-top:10px;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    align-items:center;
}

input,textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

/*ログインホタンで使ってた、だいよう必要*/
/*button{
    margin-top:10px;
    padding:10px;
    width:100%;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:8px;
}*/
button:hover{
    background:#45a049;
}
a{
    display:block;
    text-align:center;
    margin-top:15px;
    text-decoration:none;
    color:#007BFF;
}

/*イベント一覧の各イベントチャット*/
.event-toggle{
    cursor:pointer;
    font-weight:bold;
    margin:10px 0;
}
.event-toggle h4{
    display:flex;
    align-items:center;
    gap:8px;
}
#event-list a{
    display:block;
    margin:5px 0;
    padding-left:10px;

    /*各イベントチャットの左寄せ！*/
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

/*イベント投稿ボタン*/
.btn{
    display:inline-block;
    padding:12px 20px;
    background:linear-gradient(45deg,#ff9800,#f39c12);
    color:white;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    /*background:linear-gradient(45deg,#4cAF50,#2ecc71);*/
    font-size:14px;
}
.btn_home{
    display:inline-block;
    padding:12px 20px;
    color:white;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    background:linear-gradient(45deg,#4cAF50,#2ecc71);
    font-size:14px;
}
/*参加ボタン*/
.btn-join{
    background:linear-gradient(45deg,#4CAF50,#2ecc71);
}
/*「参加予定です」の文字*/
.joined{
    font-size:13px;
    color:#288f53;
    margin-right:5px;
}
.join-count{
    font-size:14px;
    color:#555;
    margin-top:5px;
}
/*参加取り消しボタン*/
.btn-cancel{
    background:linear-gradient(45deg,#e74c3c,#c0392b);
}
/*イベント編集ボタン*/
.btn-edit{
    background:linear-gradient(45deg,#3498db,#2980b9);
}
/*ホバーしたとき*/
.btn:hover{
    background:#45a049;
    transform:translateY(-2px);
}
/*押したとき*/
.btn:active{
    transform:translateY(1px);
}



.chat-container{
    max-width:700px;
    margin:20px auto;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    padding:15px;
    margin-top:55px;
}
#chat-box{
    height:450px;
    overflow-y:scroll;
    padding:10px;
    background:#f7f7f7;
    border-radius:10px;

    display:flex;
    flex-direction:column;
}
.chat-input{
    display:flex;
    align-items:center;
    padding:10px;
    color:black;
    background:white;
    border:1px solid #ccc;
    border-radius:8px;
    gap:10px;
    margin-top:10px;

    position:sticky;
    bottom:0;
}
.chat-input input{
    flex:1;
    min-width:0;
    padding:10px;
    color:block;
    background:white;
    border:1px solid #ccc;
    border-radius:8px;
}
.chat-input button{
    padding:10px 20px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:8px;
    white-space:nowrap;
    width:auto;
    flex-shrink:0;
}

#modal{
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:flex;
    justify-content:center;
    align-items:center;
}
#modal img{
    max-width:80%;
    max-height:80%;
    border-radius:10px;
}
.chat-image{
    max-width:200px;
    border-radius:12px;
    margin-top:8px;
    cursor:pointer;
    transition:0.2s;
}
.chat-image:hover{
    transform:scale(1.05);
}
.message{
    position:relative;
    max-width:70%;
    padding:10px;
    border-radius:12px;
    margin:8px 0;
}
.time{
    display:block;
    font-size:12px;
    color:gray;
    margin-top:5px;
}
/*既読*/
.read-count{
    /*position:absolute;*/
    /*display:block;*/
    /*text-align:right;*/
    position:absolute;
    right:5px;
    bottom:-16px;
    font-size:11px;
    color:gray;
}
.read-users{
    position:absolute;
    right:10px;
    bottom:-30px;
    font-size:11px;
    color:gray;
    margin-top:3px;
}
/*未読　今は使ってない*/
.no-read{
    position:absolute;
    right:-35px;
    bottom:0;
    font-size:12px;
    color:red;
}
.message p{
    margin:5px 0 0 0;
}
/*自分の送ったメッセージ*/
.my-msg{
    position:relative;
    padding:10px;
    border-radius:12px;
    align-self:flex-end;
    margin-left:auto;
    background:#75e405;
    color:white;
    margin-left:auto;
    text-align:right;
}
.other-msg{
    align-self:flex-start;
    /*background-color:#f1f1f1;*/
    background:#eee;
    margin-right:auto;
}
.other-msg.no-read{
    display:none;/*他の人のメッセージに表示される未読を消す*/
}
/*メッセージの送信者name*/
.name{
    font-size:12px;
    color:gray;
}
