<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

        <div class="nav-right">
            <a href="/home">🏡ホーム</a>
            <span class="divider">|</span>
            <a href="/events">📅イベント</a>
            <span class="divider">|</span>
            <a href="/chat">🌎チャット</a>
        </div>
        
        <div class="container">

            <h2>
                イベント投稿
            </h2>
        
            <form method="POST">
                <input type="text" name="title" placeholder="タイトル"><br>
                <input type="date" name="date"><br>
                <textarea name="content" placeholder="内容"></textarea><br>
                <button type="submit">投稿</button>
            </form>

        </div>
    </body>
</html>