<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>

        <div class="navbar">
            <div class="nav-left">Kinder Connect</div>

            <div class="nav-right">
                <a href="/home">🏡ホーム</a>
                <span class="divider">|</span>
                <a href="/events">📅イベント</a>
                <span class="divider">|</span>
                <a href="/chat">
                    🌎チャット
                    {% if unread_count > 0  %}
                        <span class="badge">
                            {{ unread_count }}
                        </span>
                    {% endif %}
                </a>

                <span class="user">👤 {{session["user"]}}</span>
                <a href="/logout" class="logout">ログアウト</a>
            </div>

        </div>

        <div class="container">

            <div class="header">
               <h2>
                    📅イベント一覧
               </h2>

               <a href="/create_event" class="btn">イベント投稿</a>
            </div>


            {% for event in events  %}
                <div class="card">
                    <h3>{{event[1]}} ({{event[3]}})</h3>
                    <p>{{event[2]}}</p>
                    <p>投稿者:{{event[5]}}</p>
                    
                    <a href="{{ url_for('chat', event_id=event[0]) }}">
                        {{event[1]}}チャット
                            
                        <span class="badge" id="event-badge-{{ event[0] }}">
                            {{ event_unreads.get(event[0],0) }}
                        </span>
                    </a>
                    
                
                    <div class="actions">
                        {% if joined_map.get(event[0]) %}
                            <p class="joined">参加予定です✔</p>
                            <a href="/cancel/{{event[0]}}" class="btn btn-cancel">参加を取り消す</a>
                        {% else %}
                            <a href="/join/{{event[0]}}" class="btn btn-join">参加する</a>
                        {% endif %}

                        <p class="join-count">👥 {{ event[6] }}人参加</p><br>
                    </div>
                    <button onclick="toggleMembers('{{ event[0] }}')" class="event-members">
                        参加者一覧
                        <span id="arrow-{{ event[0] }}">▼</span>
                    </button>

                    <div id="members-{{ event[0]}}" style="display:none;" class="members-box">
                        {% for member in members_map.get(event[0], []) %}
                            <div class="member-card">
                                <div class="member-icon">👤</div>
                                <div class="member-name">{{ member[0] }}</div>
                            </div>  
                        {% endfor %}
                    </div>
                </div>

                <a href="/edit_event/{{event[0]}}" class="btn btn-edit">編集</a>
                <hr>
            {%endfor%}

        </div>

        <script>
            async function updateUnreadCounts(){

                console.log("js move")

                const response = await fetch("/api/unread_counts");

                const data = await response.json();


                // 合計通知更新
                const totalBadge = document.getElementById("total-event-badge");


                
                console.log(totalBadge);

                if(totalBadge){
                    totalBadge.innerText=data.total_event_unreads;
                }



                // 各イベント更新
                for(const eventId in data.event_unreads){

                    const badge = document.getElementById(
                        `event-badge-${eventId}`
                    );

                    if(badge){
                        badge.innerText = data.event_unreads[eventId];
                    }
                }
            }

            // 3秒ごと更新
            setInterval(updateUnreadCounts,3000);

            function toggleMembers(eventId){
                //開閉（表示・隠す）
                const box=document.getElementById("members-" + eventId);
                //▼の操作  ${}--バッククオートじゃないとてんかいできない！
                const arrow = document.getElementById(`arrow-${eventId}`);
                if(box.style.display=="block"){
                    box.style.display="none";
                    arrow.textContent="▼";
                }else{
                    box.style.display="block";
                    arrow.textContent="▲";
                }
            }
            
        </script>
    </body>
</html>