<!DOCTYPE html>
<html>
    <head>

        <title>
            Home
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css">

        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js"></script>


    </head>
    <body>

        <div class="navbar">
            <div class="nav-left">Kinder Connect</div>

            <div class="nav-right">
                <a href="/home">🏡ホーム</a>
                <span class="divider">|</span>
                <a href="/events">📅イベント</a>
                <span class="divider">|</span>

                <a href="/chat">
                    🌎チャット
                    {% if unread_count >0 %}
                        <span class="badge">
                            {{ unread_count }}
                        </span>
                    {% endif %}
                </a>

                <span class="user">👤 {{session["user"]}}</span>
                <a href="/logout" class="logout">ログアウト</a>
            </div>

        </div>

        <div class="div_home">
            <h1>Home🏡</h1>
            <p>幼稚園連絡・イベント共有サイト</p>

            <a href ="/events" class="btn_home">📅イベントをみる</a><br>
            <a href ="/chat" class="btn_home">🌎チャットを確認</a>

            <h3>📢 お知らせ</h3>
            <p>ようこそ！このサイトは連絡用です</p>

            <h4>開催予定のイベント</h4>

            <!-- イベント一覧のイベントひょうじコード　カレンダーの実装でコメントアウト
            <div class="schedule-box">
                {% for s in schedules %}
                    <div class="schedule-item">
                        <strong>{{ s[1]}}</strong><br>
                        {{ s[0] }}
                    </div>
                {% endfor %}
            </div>
            -->
            <div id="calendar"></div>

        </div>

        <script>
        document.addEventListener("DOMContentLoaded", function () {

            const calendarEl = document.getElementById("calendar");

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                height:"auto",
                aspectRatio:0.8,

                events: [
                    {% for event in events %}
                    {
                        title: "{{ event[1] }}",
                        start: "{{ event[3] }}",
                        url:"/chat/{{ event[0] }}"
                    }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ]

            });

            calendar.render();

        });
        </script>

    </body>
</html>