<!DOCTYPE html>
<html>
    <head>

        <title>
            Login
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
    </head>
    <body>
        
        <div class="container">

            <h2>Login</h2>
            <form method="POST">
                <input type="text" name="username" placeholder="ユーザー名"><br>
                <input type="password" name="password" placeholder="パスワード"><br>
                <button type="submit">ログイン</button>
            </form>

        </div>

        <h4>新規登録</h4>
        <form method="POST" action="/create_account">
            <input type="text" name="username" placeholder="ユーザー名" required>
            <input type="password" name="password" placeholder="パスワード" required>
            <button type="submit">登録</button>
        </form>

        <p><a href="/register">テストuserの作成</a></p>
    </body>
</html>