<!DOCTYPE html>
<html>
    <head>

        <title>
            Login
        </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        
    </head>
    <body>
        
        <div class="container">

        {% with messages=get_flashed_messages()%}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

            <h2>Login</h2>
            <form method="POST">
                <input type="text" name="username" placeholder="ユーザー名"><br>
                <input type="password" name="password" placeholder="パスワード"><br>
                <button type="submit">ログイン</button>
            </form>

        </div>

        <a href="/create_new_user">新規アカウント登録</a>

        <p><a href="/create_test_user">テストuserの作成</a></p>
    </body>
</html>